.title-block {
  text-align: center;
  .page-title {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .page-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
@media (min-width: 768px) {
  .title-block {
    padding-bottom: 2rem;
    min-height: 15rem;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media (max-width: 767px) {
  .title-block {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 14rem;
    padding-bottom: 1rem;
  }
}
