.profiles {
  .card {
    border-radius: 0;
    .profile-image {
      img {
        border-radius: 5rem;
        height: 150px;
      }
    }
    a {
      color: theme-color("dark");
      &:hover {
        color: theme-color("active-dark");
      }
    }
    h4 {
      text-transform: uppercase;
    }
    h5,
    p {
      font-size: 1.25rem;
      font-weight: 300;
    }
  }
}
.button-container {
  .contact-button {
    margin: 0.5rem 0;
    display: flex;
    max-width: 400px;
    width: 100%;
    text-align: center;

    a {
      cursor: pointer;
      text-transform: uppercase;
      width: 100%;
      border-color: theme-color("dark");
      border: 1px solid;
      padding: 1rem 2rem;
    }
    a:hover {
      border-color: theme-color("active");
      color: theme-color("active");
    }
  }
}
.map {
  margin-bottom: -2.5rem;
}

@media (min-width: 768px) {
  .profiles {
    padding: 0 10rem;
  }
}
