footer {
  ul {
    list-style: none;
    padding: 0;
  }
  padding: 1rem;
  section:not(:first-child) {
    margin-top: 1.5rem;
  }
  .footer-widget {
    img {
      object-fit: contain;
      max-height: 5rem;
    }
    h5 {
      margin-bottom: 0.75rem;
    }
    a,
    p {
      margin-bottom: 0.25rem;
    }
    a {
      color: theme-color("light");
      &:hover {
        color: theme-color("active");
      }
    }
  }
}
