@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");

/* Banner */
#front-page-title-banner {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  min-height: 75vh;
  .jumbotron-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .jumbotron-block {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
}
.tagline {
  font-family: "Roboto Slab", serif;
}

/* Links */
.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  .title-link {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 500;
    a {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid;
      color: theme-color("active");
      &:hover {
        color: theme-color("light");
      }
    }
  }
}
/* Partners */
.partners {
  margin-bottom: 2rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .thumbnail {
    img {
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1);
      max-height: 3rem;
      max-width: 100%;
    }
  }
}

.front-page-content {
  padding: 0;
  margin: 0;
}

/* Ponty list */
.pnty-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 0.125rem;
  }
  .pnty-list-organization-name {
    color: theme-color("active-dark");
  }
  .pnty-list-title {
    font-size: 1.125rem;
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  #front-page-title-banner {
    min-height: 100vh;
  }
  .title-link {
    margin: 0 1rem 0 1rem;
  }
  .tagline {
    font-size: 4rem;
  }
  .tagline-subtitle {
    font-size: 2rem;
  }
}

@media (max-width: 991px) {
  .pnty-list {
    li {
      padding-top: 1rem;
      padding-bottom: 1rem;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
    }
    li:nth-child(2n) {
      padding-right: 0.125rem;
    }
  }
}

@media (max-width: 767px) {
  .partners {
    margin-bottom: 0;
    .thumbnail {
      margin-bottom: 1rem;
      img {
        max-height: 2rem;
      }
    }
  }
  .tagline {
    font-size: 2rem;
  }
  .tagline-subtitle {
    font-size: 1.5rem;
  }
  .title-link {
    margin: 0 2.5rem 1rem 2.5rem;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
