/* Header */

header {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  &.scrolled {
    background-color: theme-color("dark") !important;
    .desktop-menu {
      height: 4rem;
    }
  }
  a {
  }
}

/* General navbar styles */

.navbar-list {
  ul {
    li {
      a {
        color: theme-color("light");
        &:hover {
          color: theme-color("active");
        }
      }
      &.active a {
        color: theme-color("active");
      }
    }
  }
}

/* Dektop navbar */

.desktop-menu {
  -webkit-transition: height 200ms ease;
  transition: height 200ms ease;
  height: 6rem;
  .logo,
  .social-media {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }
  .social-media {
    a {
      color: theme-color("light");
      &:hover {
        color: theme-color("active");
      }
      span {
        font-size: 2rem;
      }
    }
  }
  .navbar-list {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .banner-desktop {
    height: 100%;

    img {
      max-height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }
  #desktop-nav {
    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      li {
        font-weight: 400;
        font-size: 1.25rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
      }
    }
  }
}

/* Mobile navbar */
.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
  width: 100%;
  text-align: center;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  .banner-mobile {
    height: 70px;
    img {
      max-height: 100%;
    }
  }

  .social-media {
    position: fixed;
    right: 0;
    bottom: -100%;
    width: 100%;
    z-index: 99;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
    font-size: 3.5rem;
    a {
      color: theme-color("light");
    }
  }
  #mobile-nav {
    position: fixed;
    background: #000;
    padding-top: 90px;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
    right: -100%;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    display: block;
    overflow-y: auto;
    height: auto;
    padding-bottom: 60px;
    z-index: 99;

    ul {
      li {
        font-size: 1.5rem;
        padding: 1rem;
        text-align: center;
      }
    }
  }
  .show-menu {
    display: block;
    right: 2rem;
    color: #ffffff;
    position: relative;
    margin: 0 0 0 auto;
    z-index: 9999;
    height: 70px;
    .show-menu-icon:after {
      top: 0;
      right: 0;
    }
    .show-menu-icon:before,
    .show-menu-icon:after {
      content: "";
      height: 5px;
      position: absolute;
      background-color: #fff;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 3px;
      -webkit-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
    .show-menu-icon {
      cursor: pointer;
      width: 35px;
      height: 31px;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      .show-menu-icon-bar {
        content: "";
        height: 5px;
        border-radius: 3px;
        position: absolute;
        background-color: #fff;
        left: 0;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 1;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
      }
    }
  }
}

/* Display navbar */
.mobile-menu {
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]#show-menu:checked {
    ~ .social-media {
      bottom: 0;
    }
    ~ #mobile-nav {
      right: 0;
      opacity: 1;
    }
    ~ .show-menu {
      .show-menu-icon-bar {
        display: none;
      }
      .show-menu-icon:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .show-menu-icon:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      .show-menu-icon:before,
      .show-menu-icon:after {
        top: 50%;
      }
    }
  }
}
