ul.current-ads {
  list-style: none;
  padding: 0;
  margin: 0;
  .ponty-job {
    padding: 30px 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;

    .overlay-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
    }
    .ponty-img {
      padding: 0 1rem;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center;
      object-position: center;
      margin-right: 16px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      -ms-flex-item-align: center;
    }

    .ponty-content {
      -webkit-box-flex: 9999;
      -ms-flex: 9999;
      flex: 9999;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      padding: 0 1rem;
      span {
        font-size: 1.125rem;
        padding-right: 0.375rem;
      }
      .ponty-job-title {
        font-size: 1.5rem;
        display: block;
        margin: 0 0 8px 0;
        font-weight: 400;
      }
    }
  }
}

@media (min-width: 768px) {
  ul.current-ads {
    .ponty-job {
      .ponty-img {
        height: 40px;
        min-width: 200px;
        max-width: 202px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        -ms-flex-item-align: center;
        align-self: center;
      }
    }
  }
}
@media (max-width: 767px) {
  ul.current-ads {
    .ponty-job {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      .ponty-img {
        max-height: 150px;
        margin: 0 1rem 1rem 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }
}
