#secondary-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  li.current_page_item {
    a {
      border-color: theme-color("active");
    }
  }
  li {
    margin-bottom: 1rem;
    a {
      color: theme-color("light");
      border-bottom: 3px solid;
      border-color: theme-color("dark");
      padding: 0 1rem 1rem 1rem;
      &:hover {
        color: theme-color("active");
      }
    }
  }
}
@media (min-width: 500px) {
  #secondary-menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
