.pnty-job {
  .pnty-organization-presentation {
    font-style: italic;
  }
  .img-container {
    .ponty-img {
      max-height: 10rem;
      object-fit: contain;
      object-position: center;
      height: auto;
      display: block;
      margin: 0 auto 40px;
    }
  }

  .ponty-button {
    display: flex;
    justify-content: center;
    .pnty-btn {
      text-transform: uppercase;
      border: 1px solid theme-color("dark");
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      background: transparent;
      color: theme-color("dark");
      text-align: center;
      padding: 1rem 4rem;
      transition: all 0.25s !important;
      &:hover {
        background: #000000;
        color: theme-color("light");
      }
    }
  }
}
