main {
  .has-1-columns {
    .wp-block-column {
      flex-basis: 100%;
      margin: 0;
    }
  }
  .wp-block-columns {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .is-style-outline {
    .wp-block-button__link {
      padding: 0.125rem;
      border-radius: 0;
      border-top: none;
      border-left: none;
      border-right: none;
      &:hover {
        color: theme-color("active-dark");
      }
    }
  }
  .alignfull {
    max-width: 100vw;
    width: 100vw;
    margin: 0 calc(-50vw + 50%);
  }
}

@media (max-width: 900px) {
  main {
    .reference {
      img {
        display: flex;
        max-width: 50% !important;
        margin: auto;
      }
    }
    .wp-block-media-text .wp-block-media-text__content {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
    .wp-block-media-text.is-stacked-on-mobile {
      grid-template-columns: 100% !important;
      grid-template-areas: "media-text-media" "media-text-content" !important;
    }
  }
}
