.timeline-container {
  .timeline {
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;

    list-style: none;

    .timeline-item {
      display: flex;
      text-align: center;
      color: #fff;

      span {
        background: theme-color("active");

        font-size: 1rem;
      }
    }
  }
}
@media (min-width: 901px) {
  .timeline-container {
    width: 90vw;
    margin: 0 calc(53% - 47vw);
    .timeline {
      flex-direction: row;
      flex-wrap: wrap;
      .timeline-item:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 25px solid theme-color("active");
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;

        float: left;
      }
      .timeline-item:before {
        content: "";

        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-top: 25px solid theme-color("active");
        border-bottom: 25px solid theme-color("active");
        float: left;
      }
      .timeline-item {
        justify-content: center;
        margin-left: -20px;
        margin-bottom: 20px;
        span {
          display: flex;
          align-items: center;
          padding-left: 0.5rem;
          padding-right: 0.25rem;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .timeline {
    flex-direction: column;
    .timeline-item:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 100px solid theme-color("active");
      border-right: 100px solid theme-color("active");
      border-top: 25px solid transparent;
      float: left;
    }
    .timeline-item:after {
      content: "";

      width: 0;
      height: 0;
      border-left: 100px solid #fff;
      border-right: 100px solid #fff;
      border-top: 25px solid theme-color("active");
      float: left;
    }
    .timeline-item {
      &:not(:first-child) {
        margin-top: -1.25rem;
      }
      width: 200px;
      flex-direction: column;
      span {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
      }
    }
  }
}
