.uppdrags-navigator {
  margin-bottom: 2rem;

  .nav-link {
    color: theme-color("dark");
  }
  li:first-child {
    padding-right: 1rem;
  }
  li:not(:first-child):not(:last-child) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  li:last-child {
    padding-left: 1rem;
  }
}

@media (max-width: 499px) {
  .uppdrags-navigator {
    ul {
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
}

@media (min-width: 500px) {
  .uppdrags-navigator {
    ul {
      justify-content: center;
    }
  }
}
