/*
Theme Name: RIDE
Author: Axel Pettersson
Description: Theme for RIDE Executive Search
Version: 1.0
License: GNU General Public License v2 or later
*/

// Your variable overrides
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
$link-hover-decoration: none;

$nav-tabs-link-active-color: #009c40;

$nav-pills-link-active-color: #000000;
$nav-pills-link-active-bg: #2980b9;
$font-family-base: "Raleway", sans-serif;
$font-weight-base: 400;
$link-color: #0d0d0d;
$link-hover-color: #009c40;

$theme-colors: (
  "primary": #ecf0f1,
  "active": #009c40,
  "active-dark": #006c12,
  "dark": #0d0d0d
);

$button-primary-focus-border-color: #17a085;
$input-focus-border-color: #17a085;

// Option B: Include parts of Bootstrap
// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/navbar";

@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/forms";

// Custom.scss
@import "scss/site-css";
@import "scss/fade-in";
@import "scss/navbar";
@import "scss/secondary-menu";
@import "scss/banner";
@import "scss/uppdragsmenu";
@import "scss/contact";
@import "scss/ponty-list";
@import "scss/single-ponty";
@import "scss/footer";
@import "scss/timeline";
@import "scss/front-page";
@import "scss/subpage";
@import "scss/social-media";

html {
  a {
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }
  body {
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  main {
    padding-top: 4rem;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 2rem;
  }
}
